@import '../sass/media';

.main-result-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .inside-result-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}