@import '../sass/media';

.grey-color {
    color: #7D7C7C;
}

.question-text
{
    color: #434274;
    
}

.label-option-texts{
    color: #444374;
}

// login

.login-text-color
{
    letter-spacing: 2px;
}

// output color

.output-text
{
    color: #eb5757;
}